.card-comments img { width: 4rem }

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover { background-color: #81B1E0 !important; }

.ducky-blue { background-color: #08549E !important; }

.ducky-skyblue { background-color: #81B1E0 !important; }

.ducky-skyblue-text { color: #81B1E0 !important; }

.ducky-blue-text { color: #08549E !important; }

.navbar .nav-item:hover { background-color: #0E4880 !important; }

.navbar .nav-item.active>.nav-link { background-color: #0E4880 !important; }

.page-footer a:hover { text-decoration: underline; }

pre.line-numbers code span.new-line {
    white-space: nowrap;
    margin-left: 2em;
}

pre.line-numbers code:before { counter-reset: listing; }

pre.line-numbers code span.new-line {
    counter-increment: listing;
    text-align: left;
    float: left;
    clear: left;
}

pre.line-numbers code span.new-line::before {
    content: counter(listing) " ";
    display: inline-block;
    text-align: right;
    width: 3em;
    border-right: 1px solid #A1A1A1;
    color: #EBEBEB;
    padding: 0em .5em;
    margin-right: 2em;
    -webkit-user-select: none;
}
