.card-comments img{width:4rem} 

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: #81B1E0 !important;} 

.ducky-blue{background-color: #08549E !important;} .ducky-skyblue{background-color: #81B1E0 !important;} 

.ducky-skyblue-text {color: #81B1E0 !important;} .ducky-blue-text {color: #08549E !important;} 

.navbar .nav-item:hover{background-color: #0E4880 !important;} 

.navbar .nav-item.active>.nav-link{background-color: #0E4880 !important;} 

.page-footer a:hover{text-decoration: underline;} 

.teampage-item{ display: flex;justify-content: center;flex-wrap: wrap;}

.teambox-item{width: 500px;text-align: center;padding: 1% 1% 1% 1%;margin: 1% 1% 1% 1%;}

.portrait-item{width: 300px;height: 300px;border-radius: 50%;box-shadow: 5px 5px 20px black;display: inline-block;}

.nom-team{font-size: 30px;text-align: center;display: block;margin-bottom: 10px;margin-top: 30px;}

.texte-role-team{text-align: center;margin-top: 5px;margin-bottom: 5px;}